* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hover {
  width: 300px;
}
ul {
  text-decoration: none;
}
li {
  padding: 10px;
  margin: 20px;
  color: antiquewhite;
  background-color: rgb(32, 30, 27);
}
li:hover {
  background-color: rgb(117, 112, 112);
}
